.component {
  margin: 20px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

img.logo {
  height: 50px;
  width: 50px;
}

h1.posts-title {
  margin: auto;
  width: 40%;
}

ul.navBar {
   margin: 0;
   padding: 0;
   width: 20%;
   background-color: #7FFFD4;
   height: 100%;
   position: fixed; /* Make it stick, even on scroll */
   overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

ul.component-list {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin: auto;
}

li.component-item {
  display: inline;
}

.navLink {
    text-align: center;
    padding: 10px;
    border: 5px;
}
